<template>
  <div class="todo-container mt-5">
    <h2>Todo #{{ $route.params.id }}</h2>
    <div class="d-flex align-items-center mb-3">
      <span class="d-block mr-3">Сделано:</span>
      <b-form-checkbox switch v-model="completed"></b-form-checkbox>
    </div>
    <div>
      <b-form-textarea
        id="textarea"
        v-model="value"
        placeholder="Введите текст..."
        rows="3"
        max-rows="6"
        @keydown="onKeyDown"
      ></b-form-textarea>
      <div class="d-flex justify-content-between flex-column">
        <b-button class="mt-1" variant="outline-primary" @click="editTodo">Изменить</b-button>
        <nuxt-link to="/" class="mt-1 w-100">
          <b-button class="w-100" variant="outline-danger">Отмена</b-button>
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async asyncData({ params, $host }) {
    const current = await $host.get(`/api/todos/${params.id}`)
    return {
      value: current.data.title,
      completed: current.data.completed
    }
  },
  methods: {
    editTodo() {
      const edited = {
        _id: this.$route.params.id,
        title: this.value,
        completed: this.completed
      }
      this.$store.dispatch('editTodo', edited)
      this.$router.push('/')
    },
    onKeyDown(e) {
      if (e.keyCode === 13) {
        this.editTodo()
      }
    }
  }
}
</script>

<style>
  .todo-container {
    width: 600px;
    margin: 0 auto;
  }
</style>