<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <nuxt-link to="/">
        <b-navbar-brand>TodoApp</b-navbar-brand>
      </nuxt-link>
    </b-navbar>
  </div>
</template>