<template>
  <div class="d-flex mt-4">
    <b-form-input
      v-model="value"
      @keydown="onKeyDown"
    >
  </b-form-input>
    <b-input-group-append>
      <b-button
        size="sm"
        text="Button"
        variant="danger"
        @click="addTodo"
        class="ml-2"
      >
      Добавить
    </b-button>
    </b-input-group-append>
  </div>
</template>

<script>
export default {
  data: () => ({
    value: ''
  }),
  methods: {
    addTodo() {
      this.$store.dispatch('addTodo', this.value)
      this.value = ''
    },
    onKeyDown(e) {
      if(e.keyCode === 13) {
        this.addTodo()
      }
    }
  }
}
</script>