<template>
  <b-list-group class="mt-5">
    <TodoItem
      v-for="todo in todos"
      :key="todo._id"
      :todo="todo"
    />
  </b-list-group>
</template>

<script>
  import TodoItem from './TodoItem.vue';
  export default {
    components: {
      TodoItem
    },
    computed: {
      todos() {
        return this.$store.getters.todos
      }
    }
  }
</script>