<template>
  <b-list-group-item
      button
      class="d-flex justify-content-between mb-3"
    >
      <nuxt-link :to="`/todos/${todo._id}`" class="w-100">{{ todo.title }}</nuxt-link>
      <b-icon
        icon="exclamation-triangle-fill"
        scale="2"
        variant="warning"
        class="mr-5"
        v-if="!todo.completed"
      ></b-icon>
      <b-icon
        icon="check-square"
        scale="2"
        variant="success"
        class="mr-5"
        v-else
      ></b-icon>
      <b-icon icon="x-circle" scale="2" variant="danger" @click="remove(todo._id)"></b-icon>
    </b-list-group-item>
</template>

<script>
  export default {
    props: {
      todo: { type: Object, required: true }
    },
    methods: {
      remove(_id) {
        this.$store.dispatch('removeTodo', _id)
      }
    },
  }
</script>