<template>
  <div>
    <Navbar />
    <main>
      <nuxt />
    </main>
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
export default {
  components: {
    Navbar
  }
}
</script>