<template>
  <div class="todos-container">
    <TodoForm />
    <TodoList />
  </div>
</template>

<script>
import TodoForm from '../components/TodoForm.vue';
import TodoList from '../components/TodoList.vue';
export default {
  name: 'IndexPage',
  async fetch({ store }) {
    if (!store.getters.todos.length) {
      await store.dispatch('fetchTodos')
    }
  },
  components: {
    TodoForm,
    TodoList
  }
}
</script>
<style>
  .todos-container {
    width: 600px;
    margin: 0 auto;
  }
</style>
